---
layout: default
---
<div class="hero">
  <div class="hero-body">
      <h1 class="title">
          Sponsors
      </h1>
  </div>
</div>
<div class="columns content sponsor">
  <div class="column is-auto">

    <div class="box">

      <h2>Sponsors</h2>
      <article class="media">
          {% include components/sponsorimage.html imagename="redgate.png" %}
        <div class="media-content">
          <div class="content">
            <h3>Redgate</h3>
            <p>
                <a class="" href="https://www.red-gate.com" target="_blank">
                  <span class="icon"><i class="fa fa-globe"></i></span> https://www.red-gate.com
                </a>
            </p>
            <p>
                Redgate is a leading provider of software for professionals working on the Microsoft data platform. They help over 800,000 people in every type of organization around the world, with awesome database and DevOps tools.
            </p>
            <p>
                Redgate has been kind enough to offer some financial support and swag to the meetup group.
            </p>
          </div>
        </div>
      </article>

     
      <h3 style="padding-top:100px;">Partners</h3>
      <article class="media"  style="border-top:solid 1px rgba(219, 219, 219, 0.5);">
          {% include components/sponsorimage.html imagename="agilept_horizontal.png" %}
        <div class="media-content">
          <div class="content">
            <h3>Agile Portugal</h3>
            <p>
                <a class="" href="https://2018.agilept.org/" target="_blank">
                  <span class="icon"><i class="fa fa-globe"></i></span> https://2018.agilept.org/
                </a>
            </p>
            <p>
               
            </p>
          </div>
        </div>
      </article>

      <article class="media">
          {% include components/sponsorimage.html imagename="humanops.png" %}
        <div class="media-content">
          <div class="content">
            <h3>HumanOps</h3>
            <p>
                <a class="" href="http://www.humanops.com/" target="_blank">
                  <span class="icon"><i class="fa fa-globe"></i></span> http://www.humanops.com/
                </a>
            </p>
            <p>
                
            </p>
          </div>
        </div>
      </article>

      
      <h3  style="padding-top:100px;">Hosts</h3>
      <div class="columns" style="border-top:solid 1px rgba(219, 219, 219, 0.5);">
        <div class="column is-one-forth">
          <a href="http://uptec.up.pt" target="_blank">
            <img alt="UPTec" class="width-is-128" src="assets/images/hosts/uptec.png" />
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="http://www.mindera.com" target="_blank">
            <img alt="Mindera" class="width-is-128" src="assets/images/hosts/mindera.png" />
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="http://www.blip.pt" target="_blank">
            <img alt="Blip.pt - Web Engineers" class="width-is-128" src="assets/images/hosts/Blip_Logotipo.svg" />
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="http://www.porto.io" target="_blank">
            <img alt="Porto I/O" class="width-is-128" src="assets/images/hosts/PortoIO.svg" />
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-forth">
          <a href="https://www.hostelworld.com/" target="_blank">
            <img alt="HostelWorld" class="width-is-128" src="assets/images/hosts/hostelworld-logo.png">
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="https://www.linkedin.com/showcase/bit-sonae/" target="_blank">
            <img alt="Bit" class="width-is-128" src="assets/images/hosts/bit-sonae-logo.png">
          </a>
        </div>

        <div class="column is-one-forth">
          <a href="https://www.criticalsoftware.com/" target="_blank">
            <img alt="Critical Software" class="width-is-128" src="assets/images/hosts/CriticalSoftware.jpg">
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="https://www.farfetch.com/" target="_blank">
            <img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.jpg">
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-forth">
          <a href="https://www.celfocus.com/home/" target="_blank">
            <img alt="Celfocus" class="width-is-128" src="assets/images/hosts/celfocus.png">
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="https://www.wearebitmaker.com" target="_blank">
            <img alt="Bitmaker Software" class="width-is-128" src="assets/images/hosts/bitmaker.png">
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="http://www.euronext.com/pt-pt" target="_blank">
            <img alt="Euronext" class="width-is-128" src="assets/images/hosts/euronextlogo.jpg">
          </a>
        </div>
        <div class="column is-one-forth">
          <a href="http://www.devscope.net" target="_blank">
            <img alt="Devscope" src="assets/images/hosts/devscope-mono-black.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
      
    </div>
  </div>
</div>
